<!-- <header>
    <h1>Showzz Movie Ticket Booking</h1>
</header> -->
<body>
<main class="container my-4">
    <section class="about-section text-center">
        <h2>About Showzz</h2><br>
        <p>Welcome to Showzz - your go-to platform for hassle-free movie ticket bookings! At Showzz, we strive to provide you with the best cinematic experience. Whether you're a movie enthusiast or just looking for a night out, Showzz has got you covered.</p>

        <p>Our easy-to-use interface allows you to browse the latest movie releases, check showtimes, and book tickets with a few clicks. Experience the magic of cinema with Showzz!</p>
    </section>
</main>
</body>
<footer class="bg-dark text-white text-center py-3">
    <p>&copy; 2023 Showzz Movie Ticket Booking. All rights reserved.</p>
</footer>