<body class="backimg"><br>
<div class="backgroundimg">
    <h1>Contact Us</h1>
    <p id="contact">If you have any questions regarding our services, please feel free to contact us with the form below.</p>
    
    <form class="forms" action="/contact" method="post">
        <label for="name">Enter your name:</label>
        <input type="text" id="name" name="name" required>
        
        <label for="subject">Enter subject:</label>
        <input type="text" id="subject" name="subject" required>
        
        <label for="email">Enter your email:</label>
        <input type="email" id="email" name="email" required>
        
        <label for="phone">Enter your phone number:</label>
        <input type="tel" id="phone" name="phone">
        
        <label for="query">Type your query here:</label>
        <textarea id="query" name="query" rows="4" required></textarea>
        
        <input class="submit" type="submit" value="Submit Message">
    </form>

</div><br>
<footer class="bg-dark text-white text-center py-3">
    <p>&copy; 2023 Showzz Movie Ticket Booking. All rights reserved.</p>
</footer>
</body>