<app-navbar></app-navbar>

<!-- <app-userlist></app-userlist> -->
<!-- <app-registration-form></app-registration-form> -->

<!-- <div>
  <form #userForm="ngForm" (ngSubmit)="getForm(userForm.value)">
    <label for="name">Name:</label>
    <input type="text" ngModel id="name" name="name" required>

    <label for="email">Email:</label>
    <input type="email" ngModel id="email" name="email" required>

    <input type="submit" value="Submit">
  </form>
</div> -->


<!-- <button (click)="navigateTo('about')">Go to About</button>
<app-new-form></app-new-form> -->